.w1140{
	margin: 0 auto;
	width: 1140px;
}
.w1170{
	margin: 0 auto;
	width: 1170px;
	overflow: hidden;
}
.main1_top_left{
	float: left;
	margin: 0 15px;
}
.main1_top_left img{
	width: 457px;
	height: 257px;
}
.main1_top_right{
	float: right;
	width: 653px;
	height: 276px;
	margin: 0 15px;
}
.main1_top_right h1{
	font-size: 24px;
	margin-bottom: 10px;
	color: rgb(71,81,104);
}
.main1_top_right p{
	line-height: 20px;
	margin-bottom: 10px;
	color: rgb(121,121,121);
}
.main1_bottom{
	margin-top: 60px;
	margin-bottom: 40px;
	display: inline-block;
}
.main1_bottom li{
	float: left;
	margin: 0 15px;
	width: 555px;
}
.mb_img{
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 30px;
}
.mb_text1{
	color: rgb(71,81,104);
	font-size: 20px;
	margin-bottom: 10px;
}
.mb_text2{
	font-size: 14px;
	color: rgb(121,121,121);
	line-height: 22px;
}
.main2{
	background-color: rgb(242,242,242);
	padding: 60px 0;
}
.main2_left{
	float: left;
	margin: 0 15px;
}
.main2_right{
	float: left;
	margin: 0 15px;
}
.main2_right h1{
	font-size: 20px;
	margin-bottom: 25px;
	color: rgb(71,81,104);
}
.main2_img{
	margin-bottom: 20px;
}
.main3_top{
	text-align: center;
	padding: 50px 0;
}
.main3_top h1{
	font-size: 30px;
	margin-bottom: 10px;
	color: rgb(71,81,104);
}
.main3_top p{
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
	color: rgb(138,139,139);
	margin-bottom: 10px;
}
.main3_bottom1{
	float: left;
	width: 360px;
	margin: 0 15px;
}
.main1_bottom1_pic{
	text-align: center;
	margin-bottom: 10px;
}
.main1_bottom1_text{
	text-align: center;
}
.main1_bottom1_text h4{
	margin-bottom: 5px;
}
.main1_bottom1_text h4 a{
	font-size: 18px;
	color: rgb(243,123,107);
	font-weight: 300;
}
.main1_bottom1_text p{
	line-height: 22px;
	margin-bottom: 10px;
	color: rgb(121,121,121);
}
.mbt_pic{
	margin: 10px 0 20px 0;
}



































































