.w1140{
	margin: 0 auto;
	width: 1140px;
}
.w1170{
	margin: 0 auto;
	width: 1170px;
	overflow: hidden;
}
.main1{
	margin-bottom: 50px;
}
.main1_top_left{
	float: left;
	width: 653px;
	height: 276px;
	margin: 0 15px;
}
.main1_top_left h1{
	font-size: 24px;
	margin-bottom: 10px;
	color: rgb(71,81,104);
}
.main1_top_left p{
	line-height: 20px;
	margin-bottom: 10px;
	color: rgb(121,121,121);
}
.main1_top_right{
	float: right;
	margin: 0 15px;
}
.main1_top_right img{
	width: 457px;
	height: 257px;
}
.main2{
	background-color: rgb(242,242,242);
	margin-bottom: 50px;
	padding: 60px 0;
}
.main2_top{
	text-align: center;
	margin: 50px 0;
}
.main2_top h1{
	font-size: 30px;
	margin-bottom: 10px;
	color: rgb(71,81,104);
}
.main2_top p{
	line-height: 22px;
	margin-bottom: 10px;
	color: rgb(121,121,121);
}
.main2_bottom{
	margin-bottom: 40px;
	display: inline-block;
}
.main2_bottom1{
	float: left;
	margin: 0 15px;
	width: 555px;
}
.mb_img{
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 30px;
}
.mb_text1{
	color: rgb(71,81,104);
	font-size: 20px;
	margin-bottom: 10px;
}
.mb_text2{
	font-size: 14px;
	color: rgb(121,121,121);
	line-height: 22px;
	margin-bottom: 10px;
}
.main3 h1{
	margin: 20px 0 30px 0;
	font-size: 20px;
	color: rgb(71,80,106);
}
.main3 p{
	line-height: 22px;
	margin-bottom: 10px;
	color: rgb(121,121,121);
}
.section{
	margin: 30px 0 20px 0;
	background-color: rgb(244,244,244);
	border: 1px solid rgb(244,244,244);
	border-radius: 4px;
}
.section_head{
	background-color: rgb(111,111,111);
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}
.sh1{
	float: left;
	border-right: 1px solid rgb(244,244,244);
	width: 197px;
	text-align: center;
	padding: 18px 15px;
}
.none{
	background-color: rgb(244,244,244);
}
.block{
	background-color: rgb(111,111,111);
}
.none a{
	color: rgb(111,111,111);
}
.block a{
	color: rgb(255,255,255);
}
.sh2{
	border-right: none;
	width: 196px;
}
.sh1:hover{
	background-color: rgb(244,244,244);
}
.block:hover a{
	color: rgb(111,111,111);
}
.section_main{
	padding: 15px;
}
.sm{
	margin-bottom: 40px;
}
.sm_pic{
	float: left;
	margin-right: 30px;
}
.sm p{
	line-height: 22px;
	margin-bottom: 10px;
	color: rgb(121,121,121);
}













































































































